<h1>Star Wars Starship Directory</h1>
<p>
  Default appearance:
  <mat-button-toggle-group name="fontStyle">
    <mat-button-toggle value="bold">Ship</mat-button-toggle>
    <mat-button-toggle value="italic">Manufacturer</mat-button-toggle>
  </mat-button-toggle-group>
</p>
<mat-card *ngFor="let item of allShips" appearance="outlined">
  <mat-card-header>
    <mat-card-title>Starship: {{item.name}}</mat-card-title><br>
    <mat-card-subtitle>{{item.manufacturer}}</mat-card-subtitle>
  </mat-card-header>
  <ul>
    <li>{{item.MGLT}}</li>
    <li>{{item.cargo_capacity}}</li>
    <li>{{item.consumables}}</li>
    <li>{{item.cost_in_credits}}</li>
    <li>{{item.created | date}}</li>
    <li>{{item.crew}}</li>
    <li>{{item.edited | date}}</li>
    <li>{{item.films}}</li>
    <li>{{item.hyperdrive_rating}}</li>
    <li>{{item.length}}</li>
    <li>{{item.max_atmosphering_speed}}</li>
    <li>{{item.model}}</li>
    <li>{{item.passengers}}</li>
    <li>{{item.pilots}}</li>
    <li>{{item.starship_class}}</li>
    <li>{{item.url}}</li>
  </ul>
  <mat-card-actions>
    <button mat-button>Learn More</button>
  </mat-card-actions>
</mat-card>

<!--<mat-expansion-panel  hideToggle>
  <mat-expansion-panel-header>
    <mat-panel-title>
      {{  }}
    </mat-panel-title>
    <mat-panel-description>
      {{ item.manufacturer }}
    </mat-panel-description>
  </mat-expansion-panel-header>
  <ul>
    <li>{{item.MGLT}}</li>
    <li>{{item.cargo_capacity}}</li>
    <li>{{item.consumables}}</li>
    <li>{{item.cost_in_credits}}</li>
    <li>{{item.created | date}}</li>
    <li>{{item.crew}}</li>
    <li>{{item.edited | date}}</li>
    <li>{{item.films}}</li>
    <li>{{item.hyperdrive_rating}}</li>
    <li>{{item.length}}</li>
    <li>}</li>
    <li>{{item.max_atmosphering_speed}}</li>
    <li>{{item.model}}</li>
    <li>{{item.passengers}}</li>
    <li>{{item.pilots}}</li>
    <li>{{item.starship_class}}</li>
    <li>{{item.url}}</li>
  </ul>
</mat-expansion-panel>-->
