<p>
  <mat-form-field>
    <mat-label>Filter by Manufacturer</mat-label>
    <mat-select [formControl]="shipControl">
      @for (manu of manufacturers; track manu) {
        <mat-option [value]="manu">{{manu}}</mat-option>
      }
    </mat-select>
  </mat-form-field>
<p>
  @for (item of displayShips; track $index; let idx = $index){
    <mat-card appearance="outlined">
      <mat-card-header>
        <mat-card-title>Starship: {{item.name}}</mat-card-title><br>
        <mat-card-subtitle>{{item.manufacturer | ellipsis: 20}}</mat-card-subtitle>
      </mat-card-header>
      <mat-card-actions>
        <a mat-button href="/starship/{{idx}}">Starship Details</a>
      </mat-card-actions>
    </mat-card>
  }
</p>
