<h1>{{item.name}}</h1>

  <ul>
    <li>MGLT: {{item.MGLT}}</li>
    <li>Cargo Capacity {{item.cargo_capacity}}</li>
    <li>{{item.consumables}}</li>
    <li>{{item.cost_in_credits}}</li>
    <li>{{item.created | date}}</li>
    <li>{{item.crew}}</li>
    <li>{{item.edited | date}}</li>
    <li>{{item.films}}</li>
    <li>{{item.hyperdrive_rating}}</li>
    <li>{{item.length}}</li>
    <li>{{item.max_atmosphering_speed}}</li>
    <li>{{item.model}}</li>
    <li>{{item.passengers}}</li>
    <li>{{item.pilots}}</li>
    <li>{{item.starship_class}}</li>
    <li>{{item.url}}</li>
  </ul>

<a href="/">Return home</a>