<p>starship works!</p>
<!--<mat-expansion-panel  hideToggle>
  <mat-expansion-panel-header>
    <mat-panel-title>
      {{  }}
    </mat-panel-title>
    <mat-panel-description>
      {{ item.manufacturer }}
    </mat-panel-description>
  </mat-expansion-panel-header>
  <ul>
    <li>{{item.MGLT}}</li>
    <li>{{item.cargo_capacity}}</li>
    <li>{{item.consumables}}</li>
    <li>{{item.cost_in_credits}}</li>
    <li>{{item.created | date}}</li>
    <li>{{item.crew}}</li>
    <li>{{item.edited | date}}</li>
    <li>{{item.films}}</li>
    <li>{{item.hyperdrive_rating}}</li>
    <li>{{item.length}}</li>
    <li>}</li>
    <li>{{item.max_atmosphering_speed}}</li>
    <li>{{item.model}}</li>
    <li>{{item.passengers}}</li>
    <li>{{item.pilots}}</li>
    <li>{{item.starship_class}}</li>
    <li>{{item.url}}</li>
  </ul>
</mat-expansion-panel>-->
