<h1>{{item.name}}</h1>

  <ul>
    <li>MGLT: {{item.MGLT}}</li>
    <li>Cargo Capacity: {{item.cargo_capacity}}</li>
    <li>Consumables: {{item.consumables}}</li>
    <li>Cost in Credits: {{item.cost_in_credits}}</li>
    <li>Created: {{item.created | date}}</li>
    <li>Crew: {{item.crew}}</li>
    <li>Edited: {{item.edited | date}}</li>
    <li>Films:</li>
    <ul>
      @for (film of item.films; track $index) {
        <li>{{ film }}</li>
        }
    </ul>
    <li>Hyper Drive Rating: {{item.hyperdrive_rating}}</li>
    <li>Length: {{item.length}}</li>
    <li>Atmosphering Speed: {{item.max_atmosphering_speed}}</li>
    <li>Model: {{item.model}}</li>
    <li>Passengers: {{item.passengers}}</li>
    <li>Pilots:</li>
    <ul>
      @for (pilot of item.pilots; track $index) {
        <li>{{ pilot }}</li>
        } @empty {
          <li>No pilot data</li>
        }
    </ul>
    <li>Starship Class: {{item.starship_class}}</li>
    <li>SWAPI API link: {{item.url}}</li>
  </ul>

<a href="/">Return home</a>